  <body class = "container">


      <h1>Register New Account</h1>


      <%= form_tag(users_url, method: 'post') do %>

        <br></br>

        <div>
          <%= label_tag :user_type %>
          <%= select_tag(:user_type,options_for_select([['', 0],['Patient', 1], ['Family', 2], ['Physician', 3]])) %>
        </div>

        <div>
          <%= label_tag :first_name %>
          <%= text_field_tag :first_name %>
        </div>

        <div>
          <%= label_tag :last_name %>
          <%= text_field_tag :last_name %>
        </div>

        <div>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>

        <div>
          <%= label_tag :password %>
          <%= text_field_tag :password %>
        </div>

        <br></br>

        <div>
          <%= submit_tag "Sign Up" %>
        </div>
      
      <% end %>

  </body>

