<h1>Editing Condition #<%= @condition.id %></h1>


<%= form_tag(condition_url(@condition), method: 'put') do %>

  <div>
    <%= label_tag :condition_id %><br />
    <%= text_field_tag :condition_id, @condition.condition_id %>
  </div>

  <div>
    <%= label_tag :condition_name %><br />
    <%= text_field_tag :condition_name, @condition.condition_name %>
  </div>

  <div>
    <%= label_tag :resource %><br />
    <%= text_field_tag :resource, @condition.resource %>
  </div>

  
  <div>
    <%= submit_tag "Update Condition" %>
  </div>

<% end %>
