
<h1>Edit This Engagement</h1>

<p><%= link_to 'View Permissions', "/permissions" %></p>


<br></br>

<%= form_tag(engagement_url(@engagement), method: 'put') do %>

  <div>
    <%= label_tag :user_id %>
    <%= number_field_tag :user_id, @engagement.user_id %>
  </div>

  <div>
    <%= label_tag :condition_id %>
    <%= number_field_tag :condition_id, @engagement.condition_id %>
  </div>
  
  <br></br>

  <div>
    <%= submit_tag "Update Engagement" %>
  </div>

<% end %>





