
<h2>Your Engagement</h2>

<div><%= link_to 'Edit Engagement', "#{@engagement["id"]}/edit" %></div>

<br></br>

<p>
  <b>Patient:</b>
  <% if @engagement.present? %>
    <% u = User.find_by_id(@engagement.user_id) %>
    <%= u.first_name %>
    <%= u.last_name %>
  <% else %>
    <b> NO PATIENT </b>
  <% end %>
</p>


<p>
  <b>Condition:</b>
  <%= @condition.condition_name %>
</p>


<br></br>
<hr>
<h2>Permissions</h2>

<p><%= link_to 'Add a New Permission', new_permission_url %></p>

<table id = "wrapper" class="table table-striped">
  <thead>
    <tr>
      <th>Engagement</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
  <% @permissions.each do |permission| %>
    <tr>
      <td><%= permission.engagement_id %></td>
      <td><%= permission.user_id %></td>
  
      <td></td>
      <td></td>
      <td><%= link_to 'Destroy', permission_url(permission), method: 'delete', data: { confirm: "Do you really want to delete this permission?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>