<h1>Editing Case #<%= @case.id %></h1>


<%= form_tag(case_url(@case), method: 'put') do %>

  <div>
    <%= label_tag :case_id %><br />
    <%= text_field_tag :case_id, @case.case_id %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= text_field_tag :user_id, @case.user_id %>
  </div>

  <div>
    <%= label_tag :condition_id %><br />
    <%= text_field_tag :condition_id, @case.condition_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Case" %>
  </div>

<% end %>
